
<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>dynamic query example</h1>
            <p>construct and call a MySQL query</p>
        </div>
        <form action="/query" method="post">
            <h2>Query<h2>
            <label for="queryStr">Enter a location</label>
            <input id="queryStr" type="text" name="queryStr" placeholder="enter name">
            <button id="execute" type="submit">run query</button>
        </form>

        <h2>Results</h2>
        <ul>
            <% listings.forEach(function(item) { %>
                <li><%= item.name %> - <%= item.location %></li>
            <% }); %>
        </ul>
    </main>


    
</body>
</html>